:root {
    --color_1: rgb(212, 255, 228);
    --color_2: rgb(70, 157, 137);
    --color_3: rgb(3, 102, 102);
    --color_4: rgb(8, 69, 69);
    --color_5: rgb(0, 12, 12);
    --color_white: #ffffff;
    /*Dark palette*/
    --color_dark1: #0D1B2A;
    --color_dark2: #1B263B;
    --color_dark3: #415A77;
    --color_dark4: #778DA9;
    --color_dark5: #E0E1DD;
}

@keyframes appear3 {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

.card3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 95%;
    height: 95%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px black;
    gap: 20px;
    animation-name: appear3;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    transition: ease-in-out;
}

.card3.dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 95%;
    height: 95%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px var(--color_1);
    gap: 20px;
    animation-name: appear3;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    border: 1px solid var(--color_1);
    transition: ease-in-out;
}

.card3 a {
    width: 45%;
    height: 25px;
    background-color: var(--color_white);
    box-shadow: 0px 0px 1px 1.5px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_dark1);
    border-radius: 15px;
}

.card3-h2 {
    font-size: 13px;
    text-align: center;
}

@media only screen and (min-width: 350px) and (max-width: 600px) {

    .card1 .bx {
        font-size: 80px;
    }

    .card1 a {
        width: 30%;
        height: 22px;
        background-color: var(--color_white);
        box-shadow: 0px 0px 1px 1.5px;
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color_dark1);
        border-radius: 15px;
    }

    .card1-h2 {
        font-size: 17px;
        text-align: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {

    .card3 .bx {
        font-size: 100px;
    }

    .card3 a {
        width: 25%;
        height: 30px;
        background-color: var(--color_white);
        box-shadow: 0px 0px 1px 1.5px;
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color_dark1);
        border-radius: 15px;
    }

    .card3-h2 {
        font-size: 20px;
        text-align: center;
    }
}

@media only screen and (min-width: 1001px) {

    .card3 .bx {
        font-size: 120px;
    }

    .card3 a {
        width: 30%;
        height: 27px;
        background-color: var(--color_white);
        box-shadow: 0px 0px 1px 1.5px;
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color_dark1);
        border-radius: 15px;
    }

    .card3-h2 {
        font-size: 22px;
        text-align: center;
    }
}
