:root {
    --color_1: rgb(212, 255, 228);
    --color_2: rgb(70, 157, 137);
    --color_3: rgb(3, 102, 102);
    --color_4: rgb(8, 69, 69);
    --color_5: rgb(0, 12, 12);
    --color_white: #ffffff;
    /*Dark palette*/
    --color_dark1: #0D1B2A;
    --color_dark2: #1B263B;
    --color_dark3: #415A77;
    --color_dark4: #778DA9;
    --color_dark5: #E0E1DD;
}

.cook {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cook-img {
    width: 240px;
    height: 240px;
    border-radius: 15px;
    border: 1px solid var(--color_3);
}

.cook-h3 {
    color: var(--color_2);
}

.cook-h3.dark {
    color: var(--color_dark5);
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {

    .cook {
        width: 100%;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cook-img {
        width: 120px;
        height: 120px;
        border-radius: 15px;
        border: 1px solid var(--color_3);
    }

    .cook-h3 {
        color: var(--color_2);
        font-size: 15px;
    }

    .cook-h3.dark {
        color: var(--color_dark5);
        font-size: 15px;
    }
}

@media only screen and (min-width: 1000px) {
    .cook {
        width: 100%;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cook-img {
        width: 200px;
        height: 200px;
        border-radius: 15px;
        border: 1px solid var(--color_3);
    }

    .cook-h3 {
        color: var(--color_2);
        font-size: 18px;
    }

    .cook-h3.dark {
        color: var(--color_dark5);
        font-size: 18px;
    }
}