:root {
    --color_1: rgb(212, 255, 228);
    --color_2: rgb(70, 157, 137);
    --color_3: rgb(3, 102, 102);
    --color_4: rgb(8, 69, 69);
    --color_5: rgb(0, 12, 12);
    --color_white: #ffffff;
    /*Dark palette*/
    --color_dark1: #0D1B2A;
    --color_dark2: #1B263B;
    --color_dark3: #415A77;
    --color_dark4: #778DA9;
    --color_dark5: #E0E1DD;
}

.some-4 {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transform: scale(1.3);
    margin-top: 15px;
}

.some-4-img {
    width: 118px;
    height: 125.33px;
    border-radius: 10px;
    border: 1px solid var(--color_4);
}

.some-4-img.dark {
    width: 118px;
    height: 125.33px;
    border-radius: 10px;
    border: 1px solid var(--color_2);
}

.some-4-h3 {
    color: var(--color_2);
    font-size: 10px;
    text-align: center;
}

.some-4-h3.dark {
    color: var(--color_dark5);
    font-size: 10px;
    text-align: center;
}

.some-4-btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_3);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0.5px black;
}

.some-4-btn:hover {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_4);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0.5px black;
}

.some-4-btn.dark:hover {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_2);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0.5px black;
}

.some-4-btn a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.some-4-btn .bx {
    font-size: 15px;
    color: var(--color_dark5);
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {

    .some-4 {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 9px;
        transform: scale(1.7);
    }

    .some-4-img {
        width: 118px;
        height: 125.33px;
        border-radius: 10px;
        border: 1px solid var(--color_4);
    }

    .some-4-img.dark {
        width: 118px;
        height: 125.33px;
        border-radius: 10px;
        border: 1px solid var(--color_2);
    }


    .some-4-h3 {
        color: var(--color_2);
        font-size: 10px;
        text-align: center;
    }

    .some-4-h3.dark {
        color: var(--color_dark5);
        font-size: 10px;
        text-align: center;
    }

    .some-4-btn {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color_3);
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 0.5px black;
    }

    .some-4-btn:hover {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color_4);
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 0.5px black;
    }

    .some-4-btn.dark:hover {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color_2);
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 0.5px black;
    }

    .some-4-btn a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .some-4-btn .bx {
        font-size: 15px;
        color: var(--color_dark5);
    }
}

@media only screen and (min-width: 1000px) {

    .some-4 {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .some-4-img {
        width: 83.29px;
        height: 88.47px;
        border-radius: 10px;
        border: 1px solid var(--color_4);
    }

    .some-4-img.dark {
        width: 83.29px;
        height: 88.47px;
        border-radius: 10px;
        border: 1px solid var(--color_2);
    }

    .some-4-h3 {
        color: var(--color_2);
        font-size: 8px;
        text-align: center;
        overflow: auto;
    }

    .some-4-h3.dark {
        color: var(--color_dark5);
        font-size: 8px;
        text-align: center;
    }

    .some-4-btn {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color_3);
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 0.5px black;
    }

    .some-4-btn:hover {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color_4);
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 0.5px black;
    }

    .some-4-btn.dark:hover {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color_2);
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 0.5px black;
    }

    .some-4-btn a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .some-4-btn .bx {
        font-size: 15px;
        color: var(--color_dark5);
    }
}